<div class="container">

  <br><br>
  <button type="button" id="add-button" class="btn btn-primary">Add Medication</button>
  <br>
  <div id="add-medication">
    <form>
      <br>
      Generic Name:<br>
      <input type="text" id="Generic_Name" value="" class="form-control">
      <br>
      Brand Name:<br>
      <input type="text" id="Brand_Name" value="" class="form-control">
      <br>
      Class:<br>
      <input type="text" id="Class" value="" class="form-control">
      <br>
      Uses:<br>
      <input type="text" id="Uses" value="" class="form-control">
      <br>
      Side Effects:<br>
      <input type="text" id="Side-Effects" value="" class="form-control">
      <br>
      Rationale:<br>
      <input type="text" id="Rationale" value="" class="form-control">
      <br>
      DC Plan:<br>
      <input type="text" id="DC_Plan" value="" class="form-control">
      <br>
      Withdrawal:<br>
      <input type="text" id="Withdrawal" value="" class="form-control">
      <br>
      <input class="btn btn-danger" type="submit" id="add-medication-submit" value="ADD" value="">
    </form>
  </div>
  <br>

  <button type="button" id="delete-button" class="btn btn-primary">Delete Medication</button>
  <br>
  <div id="delete-medication">
    <div class="container">
      <div class="form-group">
        <br>
        <br>
        <input type="text" id="drug-delete-search" class="form-control text-center" placeholder="Search by Generic or Brand Name">
        <br>
        <input class="btn btn-danger" type="submit" id="delete-search-submit" value="SEARCH" value="">
      </div>
      <br>
      <div id="display-table">
        <div class="row">
          <div id="generic-name" class="col-3">GENERIC NAME<div id="generic-name-content"></div>
          </div>
          <div id="brand-name" class="col-3">BRAND NAME<div id="brand-name-content"></div>
          </div>
          <div id="class" class="col-3">CLASS<div id="class-content"></div>
          </div>
          <div id="uses" class="col-3">USES<div id="uses-content"></div>
          </div>
        </div>
      </div>
      <div id="display-table-two">
        <div class="row">
          <div id="side-effects" class="col-3">SIDE EFFECTS<div id="side-effects-content"></div>
          </div>
          <div id="rationale" class="col-3">RATIONALE<div id="rationale-content"></div>
          </div>
          <div id="dc-plan" class="col-3">DISCONTINUE PLAN<div id="dc-plan-content"></div>
          </div>
          <div id="withdrawal" class="col-3">WITHDRAWAL<div id="withdrawal-content"></div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <input class="btn btn-danger" type="submit" id="delete-medication-submit" value="DELETE" value="">
  </div>
  <br>

  <button type="button" id="update-button" class="btn btn-primary">Update Medication</button>
  <br>

  <div id="update-medication">
    <br>
    SEARCH BY GENERIC/BRAND NAME:
    <br><br>
    <input type="text" id="drug-update-search" class="form-control">
    <br>
    <input class="btn btn-danger" type="submit" id="update-search-submit" value="SEARCH" value="">

    <form>
      <br>
      Generic Name:<br>
      <input type="text" id="generic_name-update" value="" class="form-control" name="Generic_Name">
      <br>
      Brand Name:<br>
      <input type="text" id="brand_name-update" value="" class="form-control" name="Brand_Name">
      <br>
      Class:<br>
      <input type="text" id="class-update" value="" class="form-control" name="Class">
      <br>
      Uses:<br>
      <input type="text" id="uses-update" value="" class="form-control" name="Uses">
      <br>
      Side Effects:<br>
      <input type="text" id="side_effects-update" value="" class="form-control" name="Side_Effects">
      <br>
      Rationale:<br>
      <input type="text" id="rationale-update" value="" class="form-control" name="Rationale">
      <br>
      DC Plan:<br>
      <input type="text" id="dc_plan-update" value="" class="form-control" name="DC_Plan">
      <br>
      Withdrawal:<br>
      <input type="text" id="withdrawal-update" value="" class="form-control" name="Withdrawal">
      <br>
      <input class="btn btn-danger" type="submit" id="update-medication-submit" value="UPDATE">
    </form>
    <br><br>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/admin.js"></script>