<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Admin Database</h5>
          <p>

            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <button type="submit">Login</button>
            </div>

            <form>
              Generic Name:<br>
              <input type="text" name="generic-name">
              <br>
              Brand Name:<br>
              <input type="text" name="brand-name">
              <br>
              Class:<br>
              <input type="text" name="class">
              <br>
              Uses:<br>
              <input type="text" name="uses">
              <br>
              Side Effects:<br>
              <input type="text" name="side-effects">
              <br>
              Rationale:<br>
              <input type="text" name="rationale">
              <br>
              DC Plan:<br>
              <input type="text" name="dc-plan">
              <br>
              Withdrawal:<br>
              <input type="text" name="withdrawal">
              <br>
              <br>
              <input type="submit" value="Submit">
            </form>
          </p>

          <strong>Description:</strong> {{index.description}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>