<div class="container">

<br><br>
<button type="button" id="add-button" class="btn btn-primary">Add Medication</button>
<br>
<div id="add-medication">
  <form>
    Generic Name:<br>
    <input type="text" id="generic-name" value="">
    <br>
    Brand Name:<br>
    <input type="text" id="brand-name" value="">
    <br>
    Class:<br>
    <input type="text" id="class" value="">
    <br>
    Uses:<br>
    <input type="text" id="uses" value="">
    <br>
    Side Effects:<br>
    <input type="text" id="side-effects" value="">
    <br>
    Rationale:<br>
    <input type="text" id="rationale" value="">
    <br>
    DC Plan:<br>
    <input type="text" id="dc-plan" value="">
    <br>
    Withdrawal:<br>
    <input type="text" id="withdrawal" value="">
    <br>
    <br>
    <input type="submit" id="add-submit" value="Submit" value="">
  </form>
</div>
<br>

<button type="button" id="delete-button" class="btn btn-primary">Delete Medication</button>
<br>
<div id="delete-medication">
  <div class="container">
    <div class="form-group">
      <br>
      SEARCH BY DRUG NAME:
      <br><br>
      <input type="text" id="drug-search" class="form-control">
      <br>
      <button id="submit" class="btn btn-primary">SUBMIT</button>
    </div>
    <br><br>
    <div id="display-table">
      <div class="row">
        <div id="generic-name" class="col-3">GENERIC NAME<div id="generic-name-content"></div>
        </div>
        <div id="brand-name" class="col-3">BRAND NAME<div id="brand-name-content"></div>
        </div>
        <div id="class" class="col-3">CLASS<div id="class-content"></div>
        </div>
        <div id="uses" class="col-3">USES<div id="uses-content"></div>
        </div>
      </div>
    </div>
    <div id="display-table-two">
      <div class="row">
        <div id="side-effects" class="col-3">SIDE EFFECTS<div id="side-effects-content"></div>
        </div>
        <div id="rationale" class="col-3">RATIONALE<div id="rationale-content"></div>
        </div>
        <div id="dc-plan" class="col-3">DISCONTINUE PLAN<div id="dc-plan-content"></div>
        </div>
        <div id="withdrawal" class="col-3">WITHDRAWAL<div id="withdrawal-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<button type="button" class="btn btn-primary">Update Medication</button>
<br>
<div id="update-medication">
  <div id="update-search-div">
    SEARCH BY DRUG NAME:
    <br><br>
    <input type="text" id="drug-search" class="form-control">
    <br>
    <button id="update-search-submit" class="btn btn-primary">SUBMIT</button>
  </div>
</div>