<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Admin Database</h5>
          <p>
            <form>
              Generic Name:<br>
              <input type="text" name="generic_name" value="Generic Name">
              <br>
              Brand Name:<br>
              <input type="text" name="brand_name" value="Brand Name">
              <br>
              Class:<br>
              <input type="text" name="class" value="Class">
              <br>
              Uses:<br>
              <input type="text" name="uses" value="Uses">
              <br>
              Side Effects:<br>
              <input type="text" name="side_effects" value="Side Effects">
              <br>
              Rationale:<br>
              <input type="text" name="rationale" value="Rationale">
              <br>
              DC Plan:<br>
              <input type="text" name="generic_name" value="Generic Name">
              <br>
              Withdrawal:<br>
              <input type="text" name="withdrawal" value="Withdrawal">
              <br>
              <br>
              <input type="submit" value="Submit">
            </form>
          </p>
          <p>
            <p>
              <strong>Text</strong>: {{index.text}}</p>
            <p>
              <strong>Description:</strong> {{index.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>