<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Admin Database</h5>
          <p>

            <div class="container" <input type="submit" name="submit" value="Logout" />
        </div>

        <form>
          Generic Name:<br>
          <input type="text" name="generic-name" value="">
          <br>
          Brand Name:<br>
          <input type="text" name="brand-name" value="">
          <br>
          Class:<br>
          <input type="text" name="class" value="">
          <br>
          Uses:<br>
          <input type="text" name="uses" value="">
          <br>
          Side Effects:<br>
          <input type="text" name="side-effects" value="">
          <br>
          Rationale:<br>
          <input type="text" name="rationale" value="">
          <br>
          DC Plan:<br>
          <input type="text" name="dc-plan" value="">
          <br>
          Withdrawal:<br>
          <input type="text" name="withdrawal" value="">
          <br>
          <br>
          <input type="submit" value="Submit" value="">
        </form>
        </p>

        {{!-- <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h2>!</h2>
                <ul>
                  {{#each db.Admin}}
                  {{#unless }}
                  {{>burgers/burger-block devoured=true}}
                  {{/unless}}
                  {{/each}}
                </ul>
              </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/admin.js"></script>