<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Admin Database</h5>
          <p>

          
        </div>
            <form class="add-medication">
              Generic Name:<br>
              <input type="text" name="generic-name" id="generic-name">
              <br>
              Brand Name:<br>
              <input type="text" name="brand-name" id="brand-name">
              <br>
              Class:<br>
              <input type="text" name="class" id="class">
              <br>
              Uses:<br>
              <input type="text" name="uses" id="uses">
              <br>
              Side Effects:<br>
              <input type="text" name="side-effects" id="side-effects">
              <br>
              Rationale:<br>
              <input type="text" name="rationale" id="rationale">
              <br>
              DC Plan:<br>
              <input type="text" name="dc_plan" id="dc-plan">
              <br>
              Withdrawal:<br>
              <input type="text" name="withdrawal" id="withdrawal">
              <br>
              <br>
              <input type="submit" value="Submit">
            </form>
            <br>
            <strong>Description:</strong> {{index.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/admin.js"></script>