<div class="container">
  <div class="form-group">
    <br>
    <br>
    <input type="text" id="drug-search" class="form-control text-center" placeholder="Search by Generic or Brand Name">
    <br>
    <button id="submit" class="btn btn-primary">SUBMIT</button>
  </div>
    <br><br>
    <div id="display-table">
      <div class="row">
        <div id="generic-name" class="col-3"><strong>GENERIC NAME</strong><div id="generic-name-content"></div></div>
        <div id="brand-name"class="col-3"><strong> NAME </strong><div id="brand-name-content"></div></div>
        <div id="class" class="col-3"><strong>CLASS</strong><div id="class-content"></div></div>
        <div id="uses" class="col-3"><strong>USES</strong><div id="uses-content"></div></div>
      </div>
    </div>
    <div id="display-table-two">
      <div class="row">
        <div id="side-effects" class="col-3"><strong> SIDE EFFECTS </strong><div id="side-effects-content"></div></div>
        <div id="rationale" class="col-3"> <strong>RATIONALE </strong><div id="rationale-content"></div></div>
        <div id="dc-plan" class="col-3"><strong>DISCONTINUE PLAN </strong><div id="dc-plan-content"></div></div>
        <div id="withdrawal" class="col-3"><strong>WITHDRAWAL</strong><div id="withdrawal-content"></div></div>
      </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>